# Q1.홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

|과목|점수|
|----|:---:|
|국어|80|
|영어|75|
|수학|55|

In [1]:
import numpy as np
a = np.array([80, 75, 55])
print( a.mean() )

70.0

# Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [2]:
number=int(input("숫자"))
if number%2 == 1 :
   print(number,"은 홀수입니다.")
else:
   print(number,"은 짝수입니다.")

숫자13
13 은 홀수입니다.

# Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다.   
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.
```
pin = '881120-1068234'
yyyymmdd = # 입력
num =  # 입력
print() # 연월일 부분 출력
print() # 숫자부분 출력
```

In [1]:
pin = '881120-1068234'

# 연월일(YYYYMMDD) 부분 추출
yyyymmdd = pin[:6]

# 그 뒤의 숫자 부분 추출
num = pin[7:]

# 결과 출력
print("연월일 부분:", yyyymmdd)
print("숫자 부분:", num)

연월일 부분: 881120
숫자 부분: 1068234

# Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.   
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
```
pin = "881120-1068234"
print( )
```

In [4]:
pin = "881120-1068234"

gender = pin[7:8]

print("성별:", gender)

성별: 1

In [5]:
pin = "881120-1068234"

# 주민등록번호에서 성별을 나타내는 숫자 추출
gender_digit = pin[7]

# 결과 출력
print("성별을 나타내는 숫자:", gender_digit)

성별을 나타내는 숫자: 1

# Q5. 다음과 같은 문자열 a:b:c:d가 있다.   
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.
```
a = "a:b:c:d"
b =
print(b)
```

In [6]:
a = "a:b:c:d"

# 문자열의 replace 함수를 사용하여 ':'를 '#'로 대체
b = a.replace(":", "#")

# 결과 출력
print(b)

a#b#c#d

# Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
```
a = [1, 3, 5, 4, 2]
a.
a.
print()
```

In [7]:
a = [1, 3, 5, 4, 2]

# 리스트를 오름차순으로 정렬
a.sort()

# 정렬된 리스트를 뒤집어서 내림차순으로 만듦
a.reverse()

# 결과 출력
print(a)

[5, 4, 3, 2, 1]

# Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.
```
a = ['Life', 'is', 'too', 'short']
result =
print(result)
```

In [8]:
a = ['Life', 'is', 'too', 'short']

# 리스트의 각 원소를 공백을 이용하여 하나의 문자열로 합침
result = ' '.join(a)

# 결과 출력
print(result)

Life is too short

# Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
```
a = (1, 2, 3)
a =
print(a)
```

In [9]:
a = (1, 2, 3)

# 값 4를 추가한 새로운 튜플 생성
a_with_4 = a + (4,)

# 결과 출력
print(a_with_4)

(1, 2, 3, 4)

# Q9. 다음과 같은 딕셔너리 a가 있다.
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [22]:
a = dict()
a['name'] = 'python'
a[('a',)] = 'python'
a[1] = 'python'
a[250] = 'python'
print(a)

#리스트 [1]을 딕셔너리의 키로 사용하려고 했기 때문
#파이썬에서 딕셔너리의 키는 변경 불가능한(immutable) 자료형이어야 함
#리스트는 변경 가능한(mutable) 자료형이므로 딕셔너리의 키로 사용할 수 없음
#따라서 튜플로 변경하여 처리

{'name': 'python', ('a',): 'python', 1: 'python', 250: 'python'}

# Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
```
a = {'A':90, 'B':80, 'C':70}
result =
print(a)
print(result)
```

In [23]:
a = {'A': 90, 'B': 80, 'C': 70}

# 'B'에 해당되는 값을 추출
result = a['B']

# 결과 출력
print(a)
print("B에 해당되는 값:", result)

{'A': 90, 'B': 80, 'C': 70}
B에 해당되는 값: 80

# Q11. a 리스트에서 중복 숫자를 제거해 보자.
```
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =
b =
print(b)
```

In [24]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

# 리스트를 set으로 변환하여 중복된 값 제거
aSet = set(a)

# 중복이 제거된 값을 다시 리스트로 변환
b = list(aSet)

# 결과 출력
print(b)

[1, 2, 3, 4, 5]

# Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게될까?   
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
```
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
```

In [25]:
a = b = [1, 2, 3]

# a와 b는 동일한 리스트 객체를 참조하고 있음
# a의 두 번째 요소를 4로 변경
a[1] = 4

# b의 값도 변경되어 출력
print(b)

[1, 4, 3]

In [27]:
a = b = [1, 2, 3, 4, 5]

b[3] = 10

print(a)

[1, 2, 3, 10, 5]

In [32]:
a = b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

b[7:] = [19, 20, 21]

print(a)

[1, 2, 3, 4, 5, 6, 7, 19, 20, 21]

```
"서두르지 마라, 그러나 멈추지도 마라."
- 요한 볼프강 폰 괴테
```